<h1>Edit Memo</h1>

<div class="main users-new">
  <div class="container">
    <div class="form users-form">
      <div class="form-body">
        <%= form_tag("/memos/#{@memo.id.to_s}",method: :patch) do %>

          <div class="form-group">
            <%= label_tag "form-title","title" %>
            <%= text_field :memos,:title, id:"form-title",class:"form-control",placeholder:"title",value: @memo.title%>
          </div>

          <div class="form-group">
          <%= label_tag "form-content","body" %>
          <%= text_field :memos,:body, id:"form-content",class:"form-control",placeholder:"content",value: @memo.body %>
          </div>

          <div class="form-group">
            <%= select_tag 'memos[category_id]', options_from_collection_for_select(@categories,:id,:name) %>
          </div>
          <%= submit_tag "create",class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>